@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#fileHeaderContainer {
	width: 100%;
}

#fileHeaderTitle {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 50pt;
	font-style: oblique;
}
#fileHeaderTitle a {
	text-decoration: none;
	color: gold;
}

#fileHeaderNavContainer {
	width: 100%;
	height: 30px;
}
#fileHeaderNav {
	float: right;
}
#fileHeaderNav ul {
	display: flex;
}
#fileHeaderNav li {
	margin-left: 25px;
	list-style: none;
}